@model IEnumerable<App_Salary_Management.Models.Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>Index</h1> *@
@* *@
@* <p> *@
@*     <a asp-action="Create">Create New</a> *@
@* </p> *@
@* <table class="table"> *@
@*     <thead> *@
@*     <tr> *@
@*         <th> *@
@*             @Html.DisplayNameFor(model => model.Name) *@
@*         </th> *@
@*         <th> *@
@*             @Html.DisplayNameFor(model => model.Description) *@
@*         </th> *@
@*         <th></th> *@
@*     </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*     @foreach (var item in Model) *@
@*     { *@
@*         <tr> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Name) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Description) *@
@*             </td> *@
@*             <td> *@
@*                 <a asp-action="Edit" asp-route-id="@item.DepartmentID">Edit</a> | *@
@*                 <a asp-action="Details" asp-route-id="@item.DepartmentID">Details</a> | *@
@*                 <a asp-action="Delete" asp-route-id="@item.DepartmentID">Delete</a> *@
@*             </td> *@
@*         </tr> *@
@*     } *@
@*     </tbody> *@
@* </table> *@

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Phòng ban</h1>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Quản lý phòng ban</h6>
    </div>
    <a asp-action="Create" class="btn btn-primary btn-circle mt-2 ml-2">
        <i class="fa fa-plus"></i>
    </a>
    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th >
                        @Html.DisplayNameFor(model => model.DepartmentID)
                    </th>
                    <th >
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th >
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>

                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th >
                        @Html.DisplayNameFor(model => model.DepartmentID)
                    </th>
                    <th >
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th >
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
                </tfoot>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>

                            <a asp-action="Delete" asp-route-id="@item.DepartmentID" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.DepartmentID" class="btn btn-success btn-circle btn-sm">
                                <i class="fas fa-info"></i>
                            </a>
                            <a asp-action="Edit" asp-route-id="@item.DepartmentID" class="btn btn-primary btn-circle btn-sm">
                                <i class="fa fa-pen"></i>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>